<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <form [formGroup]="deleteUserForm">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="deleteUserForm.getRawValue()" cdkFocusInitial>Delete</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</mat-dialog-actions>
